<script type="text/x-template" title="labels-dialog-div">
    #set( $labels = $webInterfaceContext.getParameter('labels'))
    <div id="labels-dialog">
        <div class="labels-editor">
            <form method="GET" action="" id="add-labels-form" class="aui">
                <div id="labelOperationErrorContainer">
                    <span class="error"><span class="errorMessage" id="labelOperationErrorMessage"></span></span>
                </div>
    
                <div id="label-input-fields">
                    <input autocomplete="off" id="labelsString" name="labelsString" value="$!labelsString" class="text">
                    <input id="add-labels-editor-button" type="submit" class="add-labels aui-button" value="$i18n.getText('add.word')">
                </div>
                <div id="labelsAutocompleteList" class="aui-dd-parent resize-to-input" style="width: 417px"></div>
                <div id="dialog-label-list">
                    <!-- DIV placeholder for labels list, is copied into in labels-dialog.js -->
                </div>
                <div id="waitImageAndStatus">
                    <img class="waiting" alt="Please wait" src="$staticResourceUrlPrefix/images/icons/wait.gif">&nbsp;
                    <span id="labelOperationStatus" class="smalltext"></span>
                </div>
                <div class="labels-tip"></div>
            </form>
        </div>
        <div style="display: none;">
            #parse("/labels/labels-editor-content.vm")
        </div>
    </div>
</script>
