/******************************/
#property-panel {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    border-radius: 3px;
}
#property-panel .aui-tip-parent {
    position: absolute;
    height: 12px
}
/* Property panel buttons*/
#property-panel .panel-buttons {
    white-space: nowrap;
}

#property-panel a.aui-button,
#property-panel a.aui-button:hover,
#property-panel a.aui-button:active,
#property-panel a.aui-button:focus {
	vertical-align: top;
	color: #333;
	text-decoration: none;
}

#property-panel a.aui-button ~ a.aui-button {
	border-left-width: 0;
}

#property-panel a.aui-button ~ a.aui-button:hover,
#property-panel a.aui-button ~ a.aui-button:active,
#property-panel a.aui-button ~ a.aui-button:focus {
	margin-left: -1px;
	border-width: 1px;
	position: relative;
}

#property-panel div.panel-buttons a.aui-button.first,
#property-panel div.panel-buttons a.aui-button.first:hover,
#property-panel div.panel-buttons a.aui-button.first:active,
#property-panel div.panel-buttons a.aui-button.first:focus {
    border-width: 1px;
    margin-left: 0;
}

#property-panel a.aui-button {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	border-radius: 0;
}

#property-panel a.aui-button,
#property-panel a.aui-button span {
	line-height: 30px;
}

#property-panel a.selected {
    background-image: none;
    background-color: #f2f2f2;
    box-shadow: inset 0 3px 6px rgba(0,0,0,.1);
    text-shadow: none;
    text-decoration:none;
}

#property-panel #image-size-input {
    margin-right: 10px;
}

#property-panel .editable {
    border-radius: 3px;
    background: transparent;
    border: 1px solid #CCC;
    box-sizing: border-box;
    font-size: 14px;
    float:left;
    padding: 4px;
    text-align: center;
    height: 30px;
    width: 60px;
    cursor: text;
    -moz-box-sizing: border-box;
}

#property-panel .editable:active,
#property-panel .editable:hover,
#property-panel .editable:focus {
    border: 1px solid #999;
}

#property-panel .editable:focus {
	background: #fff;
}

#property-panel a.first {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#property-panel a.last {
	border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    margin: 0 10px 0 0;
}
#property-panel a:hover {
    background-position: 100% 0;
    color: #4f85bc;
}
#property-panel a.image-size-small,
#property-panel a.image-size-medium,
#property-panel a.image-size-large {
    padding:0 4px;
}
#property-panel a span.icon {
    background-image: url(../../images/icons/property-panel-image.png);
    display: none;
    float: left;
    height: 17px;
    margin: 5px 0 0 0;
    width: 16px;
}
#property-panel a.image-size-small span.panel-button-text,
#property-panel a.image-size-medium span.panel-button-text,
#property-panel a.image-size-large span.panel-button-text {
    font-size: 0;
}

#property-panel a.image-size-small span.icon,
#property-panel a.image-size-medium span.icon,
#property-panel a.image-size-large span.icon,
#property-panel a.image-make-link span.icon {
    display: inline;
}
#property-panel a.image-make-link span.icon {
    background-position: -48px 0;
}
#property-panel a.image-size-small span.icon {
    background-position: -32px 0;
}
#property-panel a.image-size-medium span.icon {
    background-position: -16px 0;
}
#property-panel a.image-size-large span.icon {
    background-position: 0 0;
}


/* Cater for disabled buttons in property-panels.
   For now, copied styles for '.aui-button[aria-disabled="true"]'*/
#property-panel a.disabled,
#property-panel a.disabled:active,
#property-panel a.disabled:hover,
#property-panel a.disabled:focus {
    background: #F2F2F2;
    background: -moz-linear-gradient(top, white 0%, #F2F2F2 100%);
    background: -webkit-linear-gradient(top, white 0%,#F2F2F2 100%);
    background: -o-linear-gradient(top, white 0%,#F2F2F2 100%);
    background: -ms-linear-gradient(top, white 0%,#F2F2F2 100%);
    background: linear-gradient(top, white 0%,#F2F2F2 100%);
    border-color: #CCC;
    box-shadow: none;
    color: #999;
    cursor: default;
    text-shadow: none;
}

.aui-property-panel {
    border: 1px solid #e2e2e2;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
}