#* @vtlvariable name="action" type="com.atlassian.confluence.admin.actions.GeneralConfigurationAction" *#
<html>
	<head>
		<title>$action.getText("title.general.config")</title>
        <content tag="selectedWebItem">generalconfiguration</content>
    </head>
	<body>
        #requireResource("confluence.web.resources:aui-forms")
        #requireResource("confluence.sections.admin.generalconfig:resources")

        #parse ( "/template/includes/actionerrors.vm" )

        #if($editMode)
            #set($formAction="doeditgeneralconfig.action")
        #else
            #set($formAction="editgeneralconfig.action")
        #end

        <form method="POST" class="aui long-label" name="editgeneralconfig" action="$formAction">
            #form_xsrfToken()

            ##Site Configuration

            <h2>
                $action.getText("sub.title.site")
                #if(!$editMode)
                    <a href="$req.contextPath/admin/editgeneralconfig.action" class="edit-link aui-button">
                        <span class="aui-icon aui-icon-small icon-edit"></span>$action.getText("edit.name")
                    </a>
                #end
            </h2>
            <p>$action.getText("sub.title.site.description")</p>
            #bodytag( "TextField" "label='site.title'" "name='siteTitle'" "value=siteTitle" "theme='aui'")
                #param("longField" "true")
                #param("description" $i18n.getText('generalconfig.site.title.description'))
            #end

            <div id="urlWarning" class="hidden warning-message">
                $action.getText("warning.domain.name.match") <a href="$action.getText('url.confluence.atlassian')/display/CONFKB/Various+issues+Caused+when+Server+Base+URL+does+not+Match+the+URL+used+to+access+Confluence"> $action.getText("warning.domain.name.match.kb")</a>
            </div>
            #set( $editbaseurlDescription = "$i18n.getText('server.base.url.description') #doc('help.configure.server.URL' $action.getText('more.about.server.base.url'))")
            #bodytag( "TextField" "id=editbaseurl" "label='domain.name'" "name='domainName'" "value=domainName" "disabled=!$systemAdmin" "theme='aui'")
                #param("longField" "true")
                #param("description" $editbaseurlDescription)
            #end

            #bodytag( "Select" "label='site.homepage'" "name='siteHomePage'" "list=siteHomePages" "listKey=key" "listValue=value" "theme='aui'")
                #param("description" $i18n.getText('generalconfig.site.homepage.description'))
            #end

            #if ($editMode)
                #set( $customContactAdminMessageDescription = "$i18n.getText('site.custom.contact.admin.message.description') #hint('input.accepts.wiki.markup')")
                #bodytag( "Textarea" "label='site.custom.contact.admin.message'" "name='customContactAdminMessage'" "rows=5" "cols=72" "theme='aui'")
                    #param("description" $customContactAdminMessageDescription)
                #end
            #else
                <div class="field-group">
                    <label>$action.getText("site.custom.contact.admin.message")</label>
                    <div>$!action.renderedCustomErrorMessage</div>
                    <div class="description">
                        $i18n.getText('site.custom.contact.admin.message.description')
                    </div>
                </div>
            #end

            #bodytag( "Component" "label='site.custom.contact.admin.form'" "name='showContactAdministratorsForm'" "theme='aui'" "value=showContactAdministratorsForm" "template='onofflist.vm'")
                #param("description" $i18n.getText('site.custom.contact.admin.form.description'))
            #end

            ##Feature Settings
            <h2 id="features">
                $action.getText("sub.title.features")
                #if(!$editMode)
                    <a href="$req.contextPath/admin/editgeneralconfig.action#features" class="edit-link aui-button">
                        <span class="aui-icon aui-icon-small icon-edit"></span>$action.getText("edit.name")
                    </a>
                #end
            </h2>
            #if ($systemAdmin)
                <p>$action.getText("sub.title.features.description", [ "$req.contextPath/plugins/servlet/upm" ])</p>
            #end
            #bodytag( "Component" "label='allow.threaded.comments'" "name='allowThreadedComments'" "value=allowThreadedComments" "template='onofflist.vm'" "theme='aui'")
                #param("description" $i18n.getText('threaded.comments.description'))
            #end
            #bodytag( "Component" "label='allow.trackbacks'" "name='allowTrackbacks'" "value=allowTrackbacks" "template='onofflist.vm'" "theme='aui'")
                #param("description" $i18n.getText('trackback.description'))
            #end
            #bodytag( "Component" "label='allow.remoteapi'" "name='allowRemoteApi'" "value=allowRemoteApi" "template='onofflist.vm'" "disabled=!$systemAdmin" "theme='aui'")
                #param("description" $i18n.getText('remote.api.description'))
            #end
            #tag( "Component" "label='gzip.response.encoding'" "name='gzipResponseEncoding'" "value=gzipResponseEncoding" "template='onofflist.vm'" "disabled=!$systemAdmin" "theme='aui'")
            #tag( "Component" "label='open.search'" "name='enableOpenSearch'" "value=enableOpenSearch" "theme='aui'" "template='onofflist.vm'")

            <div class="field-group">
                #if($editMode)
                    #bodytag( "Component" "label='draft.save.interval'" "name='draftSaveIntervalMinutes'" "value=draftSaveIntervalMinutes" "template='text-inline.vm'" "theme='aui'")
                        #param("shortField" "true")
                        #param("inlineText" "$action.getText('draft.save.interval.mins')")
                    #end
                    #bodytag( "Component" "label=''" "name='draftSaveIntervalSeconds'" "value=draftSaveIntervalSeconds" "template='text-inline.vm'" "theme='aui'")
                        #param("shortField" "true")
                        #param("inlineText" "$action.getText('draft.save.interval.secs')")
                    #end
                #else
                    <label for="draftSaveIntervalMinutes">$action.getText("draft.save.interval")</label>
                    <span id="draftSaveIntervalMinutes" class="field-value">$!action.niceDraftSaveInterval</span>
                #end
                <div class="description">
                    $i18n.getText('draft.save.interval.description')
                </div>
            </div>

            <fieldset class="group">
                <legend><span>$action.getText("quick.nav")</span></legend>
                #tag( "Component" "label='enable.name'" "name='enableQuickNav'" "value=enableQuickNav" "theme='aui'" "template='onofflist-include.vm'")
                ## Not normal AUI form markup, but the maxSimultaneousQuickNavRequests field needs to be associated with the above checkbox
                #if($editMode)
                    <input name="maxSimultaneousQuickNavRequests" id="maxSimultaneousQuickNavRequests" value="$maxSimultaneousQuickNavRequests" class="text short-field " type="text">
                    <span  class="inline-text">$action.getText('quick.nav.max.simultaneous.requests')</span>
                #else
                    #if($action.enableQuickNav)
                        <label for="maxSimultaneousQuickNavRequests">($action.getText("quick.nav.max.simultaneous.requests"): $!action.maxSimultaneousQuickNavRequests)</label>
                    #end
                #end
            </fieldset>

            ##Formatting and International Settings

            <h2 id="formatting">
                $action.getText("sub.title.formatting")
                #if(!$editMode)
                    <a href="$req.contextPath/admin/editgeneralconfig.action#formatting" class="edit-link aui-button">
                        <span class="aui-icon aui-icon-small icon-edit"></span>$action.getText("edit.name")
                    </a>
                #end
            </h2>
            <p>
                $i18n.getText("sub.title.formatting.description", [ "$req.contextPath/admin/configurelanguage.action" ])
                $i18n.getText('formatting.description')
            </p>
            #tag( "Select" "label='indexing.language'" "name='indexingLanguage'" "list=indexingLanguages" "listKey=key" "listValue=value" "theme='aui'" )
            #tag( "TextField" "label='defaultEncoding'" "name='defaultEncoding'" "value=defaultEncoding" "theme='aui'" )
            #tag( "TextField" "label='defaultTimeFormatterPattern'" "name='defaultTimeFormatterPattern'" "value=defaultTimeFormatterPattern" "theme='aui'" )
            #tag( "TextField" "label='defaultDateTimeFormatterPattern'" "name='defaultDateTimeFormatterPattern'" "value=defaultDateTimeFormatterPattern" "theme='aui'" )
            #tag( "TextField" "label='defaultDateFormatterPattern'" "name='defaultDateFormatterPattern'" "value=defaultDateFormatterPattern" "theme='aui'" )
            #tag( "TextField" "label='defaultLongNumberFormatterPattern'" "name='defaultLongNumberFormatterPattern'" "value=defaultLongNumberFormatterPattern" "theme='aui'" )
            #tag( "TextField" "label='defaultDecimalNumberFormatterPattern'" "name='defaultDecimalNumberFormatterPattern'" "value=defaultDecimalNumberFormatterPattern" "theme='aui'")

            ##Attachment Settings

            <h2 id="attachments">
                $action.getText("sub.title.attachment")
                #if(!$editMode)
                    <a href="$req.contextPath/admin/editgeneralconfig.action#attachments" class="edit-link aui-button">
                        <span class="aui-icon aui-icon-small icon-edit"></span>$action.getText("edit.name")
                    </a>
                #end
            </h2>
            #if ($systemAdmin)
                <p>
                    $i18n.getText("sub.title.attachment.description", [ "$req.contextPath/admin/attachmentstoragesetup.action" ])
                </p>
            #end
            #if ($editMode)
                #set($attachmentValue = $action.attachmentMaxSize)
            #else
                #set($attachmentValue = $action.niceAttachmentMaxSize)
            #end
            #bodytag( "TextField" "label='attachment.max.size'" "name='attachmentMaxSize'" "value='$attachmentValue'" "theme='aui'" )
                #param("shortField" "true")
                #param("inlineText" "$action.getText('attachment.maximum.size.unit')")
                #param("description" $i18n.getText('attachment.maximum.size.description'))
            #end
            #bodytag( "TextField" "label='attachment.max.upload'" "name='maxAttachmentsInUI'" "value=maxAttachmentsInUI" "theme='aui'" )
                #param("shortField" "true")
            #end

            ##Connection Timeouts
            <h2 id="timeouts">
                $action.getText('timeouts.heading')
                #if(!$editMode)
                    <a href="$req.contextPath/admin/editgeneralconfig.action#timeouts" class="edit-link aui-button">
                        <span class="aui-icon aui-icon-small icon-edit"></span>$action.getText("edit.name")
                    </a>
                #end
            </h2>
            #tag( "Component" "label='timeouts.enabled'" "name='connectionsEnabled'" "value=connectionsEnabled" "theme='aui'" "template='onofflist.vm'" "disabled=!$systemAdmin")
            #bodytag( "TextField" "id=connectionTimeouts" "label='timeouts.connectionTimeout'" "name='connectionTimeout'" "value=connectionTimeout" "disabled=!$systemAdmin" "theme='aui'")
                #param("shortField" "true")
            #end
            #bodytag( "TextField" "id=socketTimeouts" "label='timeouts.socketTimeout'" "name='socketTimeout'" "value=socketTimeout" "disabled=!$systemAdmin" "theme='aui'" )
                #param("shortField" "true")
            #end

            <div class="hidden parameters">
                <input type="hidden" id="editMode" value="$editMode">
            </div>

            ## Buttons
            #if ($editMode)
                #bodytag( "Submit" "theme='aui'" )
                    #param ("submitValue" "$action.getText('update.name')")
                    #param ("cancelValue" "$action.getText('cancel.name')")
                #end
            #end
        </form>

		#parse("/breadcrumbs.vm")
	</body>
</html>
