<html>
	<head>
		<title>$action.getText("title.setup.datasource.database.data.exists")</title>
	</head>

	<body>
        #parse ( "/template/includes/actionerrors.vm" )
	   
		<p>$action.getText("setup.datasource.database.data.exists")</p>

        <div class="aui-panel">
            <form class="aui">
                <a href="$req.contextPath/setup/setupdatasourcedb.action?database=$database&forceOverwriteExistingData=true&datasourceName=$generalUtil.urlEncode($datasourceName)" class="button submit">$action.getText("setup.datasource.overwrite.existing.data")</a>
                <a href="$req.contextPath/setup/setupdb-start.action?database=$database" class="cancel">$action.getText("restart.database.setup")</a>
            </form>
        </div>
	</body>
</html>
