<html>
	<head>
		<title>$action.getText("setupsteperror.title")</title>
	</head>

	<body>
		<p/>
		$action.getText("setupsteperror.description")
		<p/>
        $action.getText("setupsteperror.continue"):
        <form  method="POST" action="${setupPersister.currentStep}.action">
            <input class="aui-button aui-button-primary" type="submit" value="$action.getText("setupsteperror.continue.button")"/>
        </form>
        <p/>
       #parse ( "/template/includes/actionerrors.vm" )
        <p>


