#* @vtlvariable name="action" type="com.atlassian.confluence.spaces.actions.CreatePersonalSpaceAction" *#
<html>
	<head>
		<title>$action.getText("create.personal.space.title")</title>
        #requireResource("confluence.web.resources:create-space")

        <content tag="bodyClass">dialog-page</content>
	</head>

    <body>
        #parse ( "/template/includes/actionerrors.vm" )

        #if( !$remoteUser )
        #parse ("/includes/alert-anonymous.vm")
    #end

        #set ($templateParameters = {
            "atlToken": ${xsrfTokenGenerator.generateToken($req)},
            "buttons": true,
            "spacePermission": $action.spacePermission })
        $soyTemplateRendererHelper.getRenderedTemplateHtml("confluence.web.resources:create-space", "Confluence.Templates.CreateSpace.createPersonalSpaceForm.soy", $templateParameters)

        #parse ( "/breadcrumbs.vm" )
    </body>
</html>
