<!-- Start restrictions section -->
## The main permission editor
<script type="text/x-template" title="page-permissions-div">
<div id="page-permissions-div">
    <div id="page-permissions-editor-form">
        ## Where errors are displayed (e.g. if an entered username doesn't exist)
        <div id="page-permissions-error-div" class="aui-message warning shadowed closeable hidden">
            <p class="title"/>
            <span class="aui-icon icon-warning"></span>
            <span class="aui-icon icon-close" tabindex="0" role="button"></span>
        </div>
        ## Where the user chooses and types user/group names.
        <div id="page-permissions-type-radios" class="page-permissions-label-rows">
            <div class="radio">
                <input id="restrictViewRadio" class="radio" type="radio" checked="checked" name="pagePermissionTypeRadio" value="view"/>
                <label for="restrictViewRadio">$i18n.getText('page.perms.form.radio.viewing')</label>
                <input id="restrictEditRadio" class="radio" type="radio" name="pagePermissionTypeRadio" value="edit"/>
                <label for="restrictEditRadio">$i18n.getText('page.perms.form.radio.editing')</label>
            </div>
        </div>
        <div id="page-permissions-input" class="page-permissions-label-rows">
            <div class="page-permissions-label">$i18n.getText('page.perms.form.to.label')</div>
            <div id="page-permissions-chooser-box">
                #if ($remoteUser)
                    <span id="page-permissions-choose-me" class="aui-button normal">
                        <a href="#">
                            <img src="$req.contextPath${generalUtil.userAccessor.getUserProfilePicture($remoteUser).downloadPath}" alt="$i18n.getText('page.perms.choose.me')"/>
                            $i18n.getText('page.perms.choose.me')
                        </a>
                        <span class="remote-user-name hidden">$generalUtil.htmlEncode($remoteUser.name)</span>
                    </span>
                #end
                <span id="page-permissions-choose-user" class="aui-button">
                    #bodytag ("Component" "theme='custom'" "template='popup-link.vm'")
                        #param ("url" "$req.contextPath/spaces/openuserpicker.action?key=$!spaceKey&startIndex=0")
                        #param ("windowName" "EntitiesPicker")
                        #param ("imgSrc" "$staticResourceUrlPrefix/images/icons/user_16.png")
                        #param ("windowProperties" "status=yes,resizable=yes,top=100,left=200,width=700,height=680,scrollbars=yes")
                        #param ("imgTitle" "Choose users")
                        #param ("linkText" "page.perms.choose.users")
                        #param ("onPopupSubmit" "AJS.PagePermissions.addUserPermissions")
                        #param ("linkId" "userpicker-popup-link")
                    #end
                </span>
                <span id="page-permissions-choose-group" class="aui-button">
                    #bodytag ("Component" "theme='custom'" "template='popup-link.vm'")
                        #param ("url" "$req.contextPath/spaces/opengrouppicker.action?key=$!spaceKey&startIndex=0&actionName=dosearchgroups.action")
                        #param ("windowName" "EntitiesPicker")
                        #param ("imgSrc" "$staticResourceUrlPrefix/images/icons/group_16.png")
                        #param ("imgTitle" "Choose groups")
                        #param ("linkText" "page.perms.choose.groups")
                        #param ("onPopupSubmit" "AJS.PagePermissions.addGroupPermissions")
                        #param ("linkId" "grouppicker-popup-link")
                    #end
                </span>
            </div>
            <div id="page-permissions-input-box">
                <input id="page-permissions-names-input" class="autocomplete-user-or-group text" type="text" name="permissionNames"
                    placeholder="$i18n.getText('page.perms.input.field.placeholder')"
                    data-max="10" data-none-message="$i18n.getText("macro.browser.smartfields.no.suggestion")"
                    data-target="#page-permissions-names-hidden"
                    data-dropdown-target="#page-perms-name-dropdown-wrapper" data-resize-to-input="true"
                    size="30"/>
                #tag ("Hidden" "id=page-permissions-names-hidden" "theme='simple'")
                <button class="aui-button" id="add-typed-names">$i18n.getText('page.perms.form.add.button')</button>
                <div id="page-perms-name-dropdown-wrapper" class="aui-dd-parent autocomplete autocomplete-user-or-group-target"></div>
            </div>
        </div>
    </div>
    <div id="page-permissions-tables">
        <div id="page-permissions-table-div">
            ## Where the loaded and amended names are displayed
            <table id="page-permissions-table" class="page-permissions-table">
                <tr id="page-permissions-no-views" class="marker-row">
                    <td colspan="3" class="page-permissions-marker-cell">
                            <span class="aui-icon aui-icon-small aui-iconfont-view"></span>
                        <span>$i18n.getText('page.perms.no.view.restrictions')</span>
                    </td>
                </tr>
                <tr id="page-permissions-no-edits" class="marker-row">
                    <td colspan="3" class="page-permissions-marker-cell">
                            <span class="aui-icon aui-icon-small edit-icon"></span>
                        <span>$i18n.getText('page.perms.no.edit.restrictions')</span>
                    </td>
                </tr>
            </table>
        </div>
        <div id="page-inherited-permissions-table-div" class="hidden">
            <span id="page-inherited-permissions-table-desc">
                <a class="icon twisty-closed">$i18n.getText('page.perms.inherited.twisty')</a>
                <a id="toggle-inherited-permissions" title="$i18n.getText('page.perms.inherited.toggle.tooltip')">$i18n.getText('page.perms.inherited.toggle')</a>
            </span>
            <div id="page-inherited-permissions-tables" class="hidden page-inheritance-togglable"></div>
        </div>
    </div>
</div>
</script>

<!-- End restrictions section -->
