{namespace Confluence.Templates.DomFilterField}

/**
 * Dom filter form
 */
{template .form}
    <form class="aui dom-filter-field-form">
        <input type="text" class="text"/>
    </form>
{/template}