#if($docThemeHelper)
    #set($isSpaceSearchEnabled = $docThemeHelper.isSpaceSearchEnabled($spaceKey))
#else
    #set($isSpaceSearchEnabled = false)
#end
<ul class="aui-nav">
        #menuMacros_renderHeaderRightImageLinks()
    <li>#auiQuickSearch($isSpaceSearchEnabled, $spaceKey)</li>
    <li>#menuMacros_renderAuiHelpMenu()</li>
    <li>#menuMacros_renderAuiAdminMenu()</li>
        #menuMacros_renderHeaderWorkDayLink()
    <li>#menuMacros_renderAuiUserMenu()</li>
</ul>
