$action.getText("shortcut.description")
$action.getText("shortcut.example.intro")<br>

<p>
<blockquote>$action.getText("shortcut.example.line1")</blockquote>
</p>

$action.getText("shortcut.example.line2")

<p>
<blockquote>$action.getText("shortcut.example.line3")</blockquote>
</p>

$action.getText("shortcut.example.line4")

<p>
<blockquote>$action.getText("shortcut.example.line5")</blockquote>
</p>

$action.getText("shortcut.replacement.description")<br>
$action.getText("shortcut.replacement.example.intro")<br>

<p>
<blockquote>$action.getText("shortcut.replacement.example.line1")</blockquote>
</p>

$action.getText("shortcut.alias.description")<br>
$action.getText("shortcut.alias.example.intro")<br>

<p>
<blockquote>$action.getText("shortcut.alias.example.line1")</blockquote>
</p>
