/* PDL menu.css*/
.content-navigation {
    float: right;
    position: relative;
    margin-top: 1px; /* To align the menu items with the page banner */
}

.content-navigation .ajs-menu-bar {
    margin-right: -10px;
}

.content-navigation .ajs-menu-item,
.content-navigation .ajs-button {
    float: left;
    list-style: none;
    position: relative;
    padding-left: 5px;
}

/*
 * These styles, for menus and buttons, should produce the same visual result as AUI's button styles (using the "subtle"
 * style for buttons on the view-page). Eventually, we should simply use AUI's patterns and styling. See CONFDEV-14492.
 */

.content-navigation .ajs-menu-bar li.ajs-menu-item a,
.content-navigation .ajs-menu-bar li.ajs-button a {
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, white 0%, #f2f2f2 100%);
    background-image: -ms-linear-gradient(top, white 0%, #f2f2f2 100%);
    background-image: -o-linear-gradient(top, white 0%, #f2f2f2 100%);
    background-image: -webkit-linear-gradient(top, white 0%, #f2f2f2 100%);
    background-image: linear-gradient(top, white 0%, #f2f2f2 100%);
    border-radius: 3.01px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
}

.content-navigation.view .ajs-menu-bar li.ajs-menu-item a,
.content-navigation.view .ajs-menu-bar li.ajs-button a,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-menu-item a,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-button a,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-menu-item a,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-button a,
.content-navigation.view-attachments .ajs-menu-bar li.ajs-menu-item a,
.content-navigation.view-attachments .ajs-menu-bar li.ajs-button a,
.content-navigation.view-attachment .ajs-menu-bar li.ajs-menu-item a,
.content-navigation.view-attachment .ajs-menu-bar li.ajs-button a,
.content-navigation.view-information .ajs-menu-bar li.ajs-menu-item a,
.content-navigation.view-information .ajs-menu-bar li.ajs-button a {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    color: #707070;
    text-shadow: none;
}

.content-navigation .ajs-menu-bar li.ajs-menu-item a {
    padding: 4px 0 4px 10px;
}

.content-navigation .ajs-menu-bar li.ajs-button a {
    padding: 4px 10px;
}

.content-navigation .ajs-menu-bar li.ajs-menu-item a:hover,
.content-navigation .ajs-menu-bar li.ajs-button a:hover,
.content-navigation.view .ajs-menu-bar li.ajs-menu-item a:hover,
.content-navigation.view .ajs-menu-bar li.ajs-button a:hover,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-menu-item a:hover,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-button a:hover,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-menu-item a:hover,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-button a:hover {
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, white 0%, #f7f7f7 100%);
    background-image: -ms-linear-gradient(top, white 0%, #f7f7f7 100%);
    background-image: -o-linear-gradient(top, white 0%, #f7f7f7 100%);
    background-image: -webkit-linear-gradient(top, white 0%, #f7f7f7 100%);
    background-image: linear-gradient(top, white 0%, #f7f7f7 100%);
    border-color: #999;
    color: #000;
    text-decoration: none;
}

.content-navigation .ajs-menu-bar li.ajs-button a:active,
.content-navigation .ajs-menu-bar li.ajs-button a.active,
.content-navigation .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.view .ajs-menu-bar li.ajs-button a:active,
.content-navigation.view .ajs-menu-bar li.ajs-button a.active,
.content-navigation.view .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-button a:active,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-button a.active,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-button a:active,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-button a.active,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.view-attachments .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view-attachments .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.view-attachment .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view-attachment .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.view-information .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view-information .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active {
    background-color: #f2f2f2;
    background-image: none;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .1);
    text-decoration: none;
    text-shadow: none;
}

.content-navigation.view .ajs-menu-bar li.ajs-button a:active,
.content-navigation.view .ajs-menu-bar li.ajs-button a.active,
.content-navigation.view .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-button a:active,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-button a.active,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-button a:active,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-button a.active,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.view-attachments .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view-attachments .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.view-attachment .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view-attachment .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active,
.content-navigation.view-information .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation.view-information .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active {
    border-color: #ccc;
}

.content-navigation.view .ajs-menu-bar li.ajs-button a:active:hover,
.content-navigation.view .ajs-menu-bar li.ajs-button a.active:hover,
.content-navigation.view .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active:hover,
.content-navigation.view .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active:hover,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-button a:active:hover,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-button a.active:hover,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active:hover,
.content-navigation.pages-collector .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active:hover,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-button a:active:hover,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-button a.active:hover,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active:hover,
.content-navigation.view-blogposts .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active:hover {
    border-color: #999;
}

.content-navigation .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-width: 0;
}

.aui-dropdown2-trigger span span::after,
.ajs-menu-bar .ajs-menu-item .trigger span span::after{
    content: "▾";
    padding: 0 10px 0 5px;
}

/* We don't want the arrow on the dropdown. We will end up changing the template to
 remove the "aui-dropdown2-tailed" class. */
.aui-dropdown2-tailed {
    margin-top: 0 !important;
}

.aui-dropdown2-tailed:before,
.aui-dropdown2-tailed:after {
    display: none !important;
}

/* end temporarily disabling the arrow */

.content-navigation .ajs-menu-item:first-child,
.content-navigation .ajs-button:first-child {
    padding-left: 0;
}

/* Customisations for navigation menu bar */
.content-navigation .ajs-menu-bar .ajs-button span,
.content-navigation .ajs-menu-bar .ajs-menu-item .ajs-menu-title span span {
    padding-left: 23px;
}

/* font-icons don't require the extra padding */
.content-navigation .ajs-menu-bar .ajs-menu-item .ajs-menu-title.action span span,
.content-navigation .ajs-menu-bar .ajs-menu-item .ajs-menu-title.add span span{
    padding-left: 0;
}

.content-navigation .ajs-menu-bar li.ajs-menu-item:last-child a {
    padding-right: 0;
}

/* Targeting menu-bar items to use the font-icons */
.ajs-menu-bar > li > a > span::before {
    font-family: "Atlassian Icons";
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-size: 16px;
    border: none;
    line-height: 1;
    margin-right: 8px;
}

.ajs-menu-bar .ajs-menu-item.opened .trigger > span,
.ajs-menu-bar .ajs-menu-item.hover .trigger > span {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAYAAABCxiV9AAAAIklEQVQIW2P8DwQMOAAjSBybAkYQgGlCVgATh0vCTEDWAAD/bRABpaVYKwAAAABJRU5ErkJggg==) no-repeat 100% 50%;
}

.content-navigation .view > span {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAD1BMVEX///9wcHBwcHBwcHBwcHB/hZMJAAAABHRSTlMAM93u5ppJfgAAACtJREFUCFtjYMAHBKA0owGUIewAFTBxAQEGBiYXKAMuAlHjAtPlgmwOYQAA23cGXbBOvR4AAAAASUVORK5CYII=) no-repeat left center;
}

.content-navigation .action > span::before {
    content: "\e001"; /* cog */
}

.content-navigation .add > span::before {
    content: "\e002"; /* add/plus sign */
}

/**
  * Beginning of CONFDEV-14172
  * We're keeping the images for Edit/Share/Tools/View buttons, because AUI Font's
  * Edit button is not ready. As soon as it is ready, we can switch to:
  * .content-navigation .edit > span::before { content: "U"; /* pencil/edit sign }
  */
.content-navigation .ajs-menu-bar > li a:hover span::before,
.content-navigation .ajs-menu-bar > li a.active span::before
{
    /* Remove this override when we use the icon font for all Edit/View/Share/Tools buttons */
    color: #707070;
}

.content-navigation .ajs-menu-bar .edit > span {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAA3NCSVQICAjb4U/gAAAAKlBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHAms8TnAAAADnRSTlMAESIzRFVmd4iqu8zu/2FpG9oAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAFHRFWHRDcmVhdGlvbiBUaW1lADYvMS8xMzipRdAAAABCSURBVAiZY2BAATk3BcA02927E8CM3Lt3L0AF7h6ACtxNgApcwyogCxVgiL179xjYkPa9dwzAjE25hyH2nGphwA4AqYgjGc/L2SoAAAAASUVORK5CYII=) no-repeat -2px center;
}
/** End of CONFDEV-14172 */

.ajs-menu-bar .ajs-menu-item,
.ajs-menu-bar .ajs-button {
    float: left;
    list-style: none;
    position: relative;
}

/* styles copied from old menu.css */
.ajs-menu-bar,
.ajs-menu-bar .ajs-button a,
.ajs-menu-bar .ajs-button span,
.ajs-menu-bar .ajs-menu-item .ajs-menu-title,
.ajs-menu-bar .ajs-drop-down a,
.ajs-menu-bar .ajs-drop-down a span,
.ajs-menu-bar .ajs-drop-down a span span {
    display: block;
    margin: 0;
    padding: 0 0 0 20px;
}
.ajs-menu-bar .ajs-menu-item .trigger span {
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.ajs-menu-bar .ajs-button span,
.ajs-menu-bar .ajs-menu-item .trigger span span {
    background-position: 0 2px;
    background-repeat: no-repeat;
}

.ajs-menu-bar .ajs-drop-down ul,
.ajs-menu-bar ul.ajs-drop-down {
    border-top: solid 1px #e1e1e1;
    margin: 0;
    padding: 5px 0;
    position: relative;
    list-style: none;
}
.ajs-menu-bar .ajs-menu-item div.ajs-drop-down a {
    background-position: .5em 50%;
    background-repeat: no-repeat;
    border: none;
    display: block;
    line-height: 2;
    margin: 0;
    padding: 0 1em 0 28px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}

.ajs-content-hover .ajs-menu-bar .ajs-menu-item a,
.ajs-content-hover .ajs-menu-bar .ajs-button a {
    line-height: 1.5;
    text-decoration: none;
    white-space: nowrap;
}
.ajs-menu-bar .ajs-drop-down {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff; /* system colour - not derived from colour scheme */
    border: solid 1px #c1c1c1;
    font-weight: normal;
    min-width: 192px;
    padding: 0;
    position: absolute;
    left: 0;
    white-space: nowrap;
    z-index: 1000;
}

/*End PDL menu.css*/