.ajs-drop-down {
    clear: both;
    z-index: 500;
    zoom: 1;
}

.ajs-menu-bar .ajs-drop-down li {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

#navigation .ajs-menu-bar .ajs-drop-down a {
    display: block;
    padding: 0.33em 0.67em;
    cursor: pointer;
}

#navigation .ajs-menu-bar div.ajs-drop-down a span {
    padding: 0 0 0 21px;
    height: 16px;
    line-height: 16px;
}

.ajs-menu-bar div.ajs-drop-down a span {
    cursor: pointer;
    height: 16px;
    line-height: 16px;
    zoom: 1;
}

#navigation .ajs-menu-bar .section-secondary li a,
#navigation .ajs-menu-bar .section-modify li a {
    line-height: 2;
    padding-left: 0;
}

#navigation .ajs-menu-bar .section-secondary li a span,
#navigation .ajs-menu-bar .section-modify li a span {
    padding-left: 8px;
}

.ajs-menu-bar .ajs-drop-down a img {
    clear: left;
    float: none;
    margin: .3em 0 .3em -20px;
    vertical-align: middle;
}

#navigation .ajs-menu-bar .ajs-button a,
#navigation .ajs-menu-bar .ajs-button a span {
    display: inline-block; /* makes the edit button have layout, but doesn't give it enormous width*/
}

#navigation.content-navigation .ajs-menu-bar li.ajs-menu-item a,
#navigation.content-navigation .ajs-menu-bar li.ajs-button a {
    padding-right: 10px;
    padding-left: 10px;
}

.ajs-menu-bar .ajs-menu-item .aui-dropdown2-trigger span {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAECAMAAAB1GNVPAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFZmZm////c0tZqAAAAAJ0Uk5T/wDltzBKAAAAF0lEQVR42mJggAJGKMkIYjCCaDAGCDAAAJAADcpaiWkAAAAASUVORK5CYII=) no-repeat 100% 50%;
    position: relative;
}

.ajs-menu-bar .ajs-menu-item .action span span {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAA3NCSVQICAjb4U/gAAAAG1BMVEX///9wcHBwcHBwcHBwcHBwcHBwcHBwcHBwcHCnAVwTAAAACXRSTlMAIjNEVYiZzP+l5CPgAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABR0RVh0Q3JlYXRpb24gVGltZQA2LzEvMTM4qUXQAAAAXElEQVQImWNgYGDwaGaAgIhWBgEglZFY0S7WxsDA2AEGQKEMEA0UYZDoCDbtaGRgMK1oBSpvD2bo6GhiYNDo6EAwXCFSISDFQaogxXDtTAgDoVZALFUAMzxagAQAAYAjp114TfUAAAAASUVORK5CYII=) no-repeat 0% 50%;
    position: relative;
}

.ajs-menu-bar .ajs-menu-item .add span span {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAAA3NCSVQICAjb4U/gAAAADFBMVEX///9wcHBwcHBwcHD6E60rAAAABHRSTlMAmar/OLteCwAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAUdEVYdENyZWF0aW9uIFRpbWUANi8xLzEzOKlF0AAAACdJREFUCJljYEAAxgtAgvkDMsH4//8FBub//z+AWA/QZRkYHzCgAQCfhxAEBQcj+QAAAABJRU5ErkJggg==) no-repeat 0% 50%;
    position: relative;
}

#navigation .ajs-menu-bar .ajs-button span,
#navigation .ajs-menu-bar .ajs-menu-item .ajs-menu-title span span {
    padding-left: 25px; /* width of icon + gap before menu label */
}

.ajs-menu-bar .ajs-button span,
.ajs-menu-bar .ajs-menu-item .aui-dropdown2-trigger span span {
    padding-right: 15px; /* gap after menu label, must be wider than indicator image */
}

.content-navigation .ajs-menu-bar li.ajs-menu-item a:hover,
.content-navigation .ajs-menu-bar li.ajs-button a:hover,
.content-navigation .ajs-menu-bar li.ajs-button a:active,
.content-navigation .ajs-menu-bar li.ajs-button a.active,
.content-navigation .ajs-menu-bar li.ajs-menu-item .ajs-menu-title:active,
.content-navigation .ajs-menu-bar li.ajs-menu-item .ajs-menu-title.active {
    outline: 1px solid #ccc;
    background-color: #f7f7f7;
}