/* space-admin.css */

/* Global Space Admin */

/* these ought to be headings so AUI magic is applied */
.steptitle,
.formtitle,
.form-element-large,
.look-and-feel .form-element-small {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
}

.stepdesc {
    color: #707070;
}

.stepdesc,
.buttons-container,
.form-block {
    margin: 10px 0;
}

.static-menu {
    padding-left: 0;
    list-style: none;
}

.static-menu li {
    display: inline;
    margin-left:5px;
}

form.aui .monospaceInput {
    font-family: Monaco, Consolas, "Courier New", monospace;
}

/* Space permissions */
.static-menu li::before {
    content: "\b7";
    margin-right: 5px;
}

.static-menu li:first-child {
    margin-left: 0;
}

.static-menu li:first-child::before {
    display: none;
}

/* Space Labels */

.edit-space-details {
    overflow: hidden;
}

.edit-space-details .editor-title {
    clear: both;
}

.edit-space-details .editor-title:first-child {
    margin-top: 10px;
}

form.aui .space-inputs .field-group {
    width: auto;
    float: left;
    padding-left: 0;
    clear: none;
}

.space-inputs label {
    display: none;
}

form.aui .space-inputs .buttons-container {
    width: auto;
    float: left;
    clear: none;
    padding-left: 10px;
}

.available-display {
    clear: both;
    margin: 10px 0;
}

/* Permissions */

/* This page could definitely do with a redesign. */

/* This page is littered with a lot of table markup.
We should have it removed. */

/* There is [align='right'] in the source. Should be culled.
 Then we can remove the next selector. */
form[name='editspacepermissions'] {
    text-align: left;
}

#space-admin-body form[name='editspacepermissions'] .primary-button-container {
    float: none;
}

.permissions tr:nth-child(2) th {
    font-weight: normal;
}

.permissions tr:nth-child(even) {
    /* Important because it's being set in the source.
       We should fix that once we don't need to mange
       non PDL version.
     */
    background: #f5f5f5 !important;
}

.permissions tr td:nth-child(1) {
    width: 100%;
}

/* We should use `colgroup` element to arrange
columns so we can target better with CSS */
.permissions tr:nth-child(1) th,
.permissions tr :nth-child(3),
.permissions tr :nth-child(6),
.permissions tr :nth-child(8),
.permissions tr :nth-child(10),
.permissions tr :nth-child(12),
.permissions tr :nth-child(13),
.permissions tr :nth-child(15) {
    border-left: 1px solid #ccc;
}

.permissions tr:nth-child(1) th:nth-child(1),
.permissions tr:nth-child(1) th:nth-child(2) {
    border-left: none;
}

.permissions .permissionCell {
    text-align: center;
}

.permissions .dropdown-perm-actions {
    padding: 3px;
}

#space-admin-body .permissions .perms-dropdown-trigger {
    color: #999999;
}

.permissionCell.dropdown-perm-actions .aui-icon {
    color: #707070;
}

/* Restricted Pages */

/* We should move the "no pages" out of the table */
.list-permission-pages td[colspan='6'] {
    color: #707070;
}

/* Mail Accounts */
.view-space-administration .static-menu {
    margin-bottom: 10px;
}

/* Mailbox Import */

/* Remove this stuff from HTML */
.view-space-administration ul[type='square'] {
    list-style: none;
    margin-left: 0 !important;
}

/* Themes */

form[name='choosethemeform'] label {
    font-weight: bold;
}

/* This are hacks until we get rid of table markup on this page */
form[name='choosethemeform'] table,
form[name='choosethemeform'] table tr,
form[name='choosethemeform'] table td,
form[name='choosethemeform'] table th {
    border: 0 !important;
}

/* Colour Scheme */

/* The "selected" text and the "select"
   button should be out of the `td` and
   on the separate line. */

.look-and-feel .selected {
    font-style: italic;
    /* Styles below are just undoing the header
       type styles applied. They can be removed
       once the actual headings are h* elements */
    font-size: 14px;
    font-weight: normal;
}

.look-and-feel .selected,
.look-and-feel .buttons-container {
    margin-left: 10px;
}

.look-and-feel .form-block {
    padding: 20px;
}

.look-and-feel .greyboxfilled {
    background: #f5f5f5;
    border-radius: 5px;
}

.look-and-feel .color-swatch {
    /* !important to override styles
        that are inline */
    width: 24px !important;
    height: 24px;
    border-radius: 3px;
    border: 1px solid #ccc !important;
}

.look-and-feel .colour-input {
    text-transform: uppercase;
}
/* This isn't necessary when we
   remove the TBL */

.look-and-feel td[width='30'] {
    width: 26px !important;
}

/* The following are hacks until we properly change the markup of the theme editor */

.look-and-feel #edit-scheme .buttons-container {
    padding: 10px 0 0 0;
}

#edit-scheme-link {
    margin: 10px 0;
}

#edit-scheme p {
    margin-bottom: 10px;
}

/* End of edit-scheme hacks */

/* Layout */

.decorators .layouts-container {
    margin-top: 10px;
}

/* Stylesheet */

#view-stylesheet {
    padding-top: 10px;
}

.edit-stylesheet textarea.textarea {
    width: 100%;
    max-width: 100%;
}

/* Space Logo */

.configure-logo p {
    margin-bottom: 10px;
}

.configure-logo .space-logo {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin: 10px 0;
}

/* Import */

/* Override this as it ruins the form layout */
.import-pages div[align] {

}

#space-admin-body {
    padding: 0 20px;
}

.space-admin-input-container {
	margin-top: 10px;
}

.primary-button-container,
#space-admin-body .steptitle {
	margin-top: 20px;
}

#space-admin-body .primary-button-container {
	float: right;
}

.space-admin-input-container .userpicker.button,
.space-admin-input-container .add.button {
    margin-left: 10px;
}

#content.space-administration .aui-message {
	margin-bottom: 10px;
}

table.permissions tbody tr:first-child th {
	border: 0;
}

.spacetools.aui-theme-default #content .spacetools-nav-secondary.aui-tabs {
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
}

/** On the Space Labels screen, display the "Done" the same colour as other buttons */
.space-administration .aui-button.done {
    color: #333;
}

.spacetools .aui-navgroup-horizontal {
    margin-left: -20px;
    margin-right: -20px;
}

.spacetools.with-space-sidebar #main-header {
    margin: -20px -20px 0 -20px;
    padding: 20px;
    background-color: #f5f5f5;
}

.list-content-tree-mode.spacetools.with-space-sidebar #main-header,
.list-recently-updated-mode.spacetools.with-space-sidebar #main-header,
.list-alphabetically-mode.spacetools.with-space-sidebar #main-header,
.view-blogposts-mode.spacetools.with-space-sidebar #main-header,
.pages-collector-mode.spacetools.with-space-sidebar #main-header,
.collector-mode.spacetools.with-space-sidebar #main-header {
    background-color: transparent;
}

/** On the Space Tools screen only, fix the interaction between the menu with clear:both and the floating sidebar */
.spacetools.with-space-sidebar #sidebar {
    position: absolute;
    right: 20px;
}

body.with-space-sidebar.spacetools.with-space-sidebar #sidebar {
    top: 12.5em;
}
	
body.with-space-sidebar .has-sidebar #content.space.space-administration #space-tools-body
{
	margin-right: 20em;
}

body.with-space-sidebar #main.has-sidebar #content.space {
    margin-right: 0;
}

body.with-space-sidebar #main #content.space {
    margin-top: -10px;
}

.spacetools.with-space-sidebar #sidebar {
    top: 193px /* close enough, play with it */;
}

.view-space-details form.aui .field-value {
    font-weight: normal;
}
