/*************************************************************
 * NOTE: Smartsprites used to generate sprites automatically *
 *************************************************************/

/** sprite: taskboxes; sprite-image: url('../../images/sprites/taskboxes.png'); sprite-layout: horizontal */

.tasklist-console {
    margin-bottom: 10px;
}

.tasklist ul.tasks {
    list-style: none;
    margin-right: 20%;
    padding-left: 0;
    border-top: 1px solid #ddd;
}

.tasklist .task {
    padding: 10px 20px 5px 50px;
    border-bottom: 1px solid #ddd;
    background-color: #FAFAFA;
}

h3 {
    margin-top: 0;
}

.tasklist .task .configuration {
    color: gray;
}

.tasklist .task dl.configuration dt {
    display: inline-block;
    font-weight: bold;
}

.tasklist .task dl.configuration dd {
    display: inline-block;
    margin-left: 0.5em; /* text-based spacing between a key-value pair */
}

.task-checkbox span {
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: bottom;
    margin: auto 10px -3px -34px;
}

.task-checkbox span {
    background-image: url("../../images/icons/taskboxes/checkbox-24-normal.png"); /** sprite-ref: taskboxes */
}

.task-checkbox:hover span,
.task-checkbox:focus span {
    background-image: url("../../images/icons/taskboxes/checkbox-24-normal-press.png"); /** sprite-ref: taskboxes */
}

.task-checkbox:active span {
    background-image: url("../../images/icons/taskboxes/checkbox-24-normal-hover.png"); /** sprite-ref: taskboxes */
}

.task-checkbox.dismissed span {
    background-image: url("../../images/icons/taskboxes/checkbox-24-checked.png"); /** sprite-ref: taskboxes */
}

.task-checkbox.dismissed:active span {
    background-image: url("../../images/icons/taskboxes/checkbox-24-checked-hover.png"); /** sprite-ref: taskboxes */
}