#parse ("/template/includes/actionerrors.vm")

#if ($actionErrors.size() == 0)
<p>$action.getText($defaultDecorator.descriptionKey)</p>
        <form name="editdecorator" method="POST" action="storedecorator.action" class="aui">
            #form_xsrfToken()
            #tag("Textarea" "theme='aui'" "label='decorator.label'" "id='textarea-content'" "template='widetextarea.vm'" "name='content'" "id='textarea-content'" "rows=50" "cols=100")
            #tag("Hidden" "name='decoratorName'")
            #if ($key)
                #tag("Hidden" "name='key'")
            #end
            #bodytag ("Submit" "theme='aui'")
                #param("editMode" "true")
                #param("submitName" "update")
                #param("submitValue" "$i18n.getText('update.name')")
            #end
        </form>
#end
