<html>
	<head>
        <title>$generalUtil.htmlEncode($i18n.getText("aboutpage.title"))</title>
        <content tag="show-main-header">true</content>
        <content tag="title-text-span">$i18n.getText("aboutpage.section.title", $versionNumber)</content>
    </head>

    <body>
        <content tag="bodyClass">about-page</content>
        #parse ("about/about-page-content.vm")
    </body>
</html>