#* @vtlvariable name="action" type="com.atlassian.confluence.user.actions.SearchUsersAction" *#
## TODO fix CreateUserAction to also inherit or otherwise fix up how the data is loaded that this form needs
#macro (browseUsersTabItem $tabName $selectedTab $first $url)
<li class="menu-item #if($selectedTab.equals($tabName))active-tab#end #if($first)first#end">
    <a id="${tabName}-tab-link" href="$url#${tabName}-pane"><strong>$i18n.getText("browseusers.${tabName}.tab.name")</strong></a>
</li>
#end

#macro (browseUsersTabPane $tabName $selectedTab)
<div class="tabs-pane #if($selectedTab.equals($tabName))active-pane#end" id="${tabName}-pane">
    #parse("admin/users/browseusers-${tabName}-panel.vm")
</div>
#end

<html>
    <head>
        <title>$i18n.getText('title.manage.users')</title>
        #requireResourcesForContext('atl.admin.users')
    </head>
    <body>
    <content tag="selectedWebItem">users</content>
    #parse ("/template/includes/actionerrors.vm")

    #set ($fielderrors = $action.getFieldErrors())
    #set ($canAddUsers = $action.canAddUsers())

    #if ($canAddUsers)
## Although the use of aui-tab-events-bound data attr relies on aui-tab internals, this code reuses the styling of
## aui-tabs, but implements it's behavior itself. Without this data attr, aui would attempt to use the urls as css selectors.
        <div id="manage-users-tabs" class="aui-tabs horizontal-tabs" data-aui-tab-events-bound="true">
            <ul class="tabs-menu">
                #browseUsersTabItem("search" $action.selectedTab true "$req.contextPath/admin/users/browseusers.action")
                #browseUsersTabItem("create" $action.selectedTab false "$req.contextPath/admin/users/createuser.action")
                #browseUsersTabItem("invite" $action.selectedTab false "$req.contextPath/admin/users/inviteuser.action")
                #browseUsersTabItem("signup" $action.selectedTab false "$req.contextPath/admin/users/signupuser.action")
            </ul>
            #browseUsersTabPane("search" $action.selectedTab)
            #browseUsersTabPane("create" $action.selectedTab)
            #browseUsersTabPane("invite" $action.selectedTab)
            #browseUsersTabPane("signup" $action.selectedTab)
        </div>
    #else
        #parse("admin/users/browseusers-search-panel.vm")
    #end
    #parse("/breadcrumbs.vm")
    </body>
</html>
