<html>
	<head>
		<title>$action.getText("title.set.user.pass") #if ($username): $username #end</title>
	</head>

	<body>
        #parse ( "/template/includes/actionerrors.vm" )

        #applyDecorator("form-aui")
            #decoratorParam("formName" "setPassword")
            #decoratorParam("submitAction"  "dosetuserpassword.action?username=$!generalUtil.doubleUrlEncode($user.name)")
            #decoratorParam("formStyle" "long-label")
            #decoratorParam("editMode" "true")

            #form_xsrfToken()

            #tag( "Password" "label='new.pass.name'" "name='newPassword'" "theme='aui'")
            #tag( "Password" "label='new.pass.confirm.name'" "name='newPasswordConfirmation'" "theme='aui'")

            #bodytag ("Submit" "value='update.name'" "theme='aui'")
                #param ("editMode" "true")
                #param ("submitValue" "$action.getText('save.name')")
            #end
        #end

		#parse ( "/breadcrumbs.vm" )
	</body>
</html>