<html>
	<head>
		<title>$action.getText("pass.sent.title")</title>
	</head>

	<body>
        <content tag="bodyClass">login forgot-password</content>
	    <div id="login-container" class="userpassword-section">
            <h2>$action.getText("title.forgot.pass")</h2>
            <p>$action.getText("pass.sent.message", ["$req.contextPath/contactadministrators.action"])</p>
            <a href="${req.contextPath}/login.action?os_destination=/users/changemypassword.action" class="aui-button aui-style aui-button-primary">$action.getText("login.button")</a>
        </div>
	</body>
</html>